Server/src/com/convertigo
Studio/beans.xml
Studio/bin/*
Studio/icons/Thumbs.db
Studio/icons/consoles/Thumbs.db
Studio/icons/studio/Thumbs.db
Studio/lib/jco/examples
Studio/lib/jco/javadoc
Studio/projects/demo_SalesForce/.project
Studio/projects/demo_SalesForce/_data
Studio/projects/demo_SalesForce/_private
Studio/projects/demo_SalesForce/demo_SalesForce.temp.wsdl
Studio/projects/demo_SalesForce/demo_SalesForce.temp.xsd
Studio/projects/demo_legacyCRM/.project
Studio/projects/demo_legacyCRM/_data
Studio/projects/demo_legacyCRM/_private
Studio/projects/demo_legacyCRM/demo_legacyCRM.temp.wsdl
Studio/projects/demo_legacyCRM/demo_legacyCRM.temp.xsd
Studio/projects/demo_legacyCRM/images/Thumbs.db
Studio/projects/demo_mashup/*.temp.wsdl
Studio/projects/demo_mashup/*.temp.xsd
Studio/projects/demo_mashup/.project
Studio/projects/demo_mashup/_data
Studio/projects/demo_mashup/_private
Studio/projects/demo_usDirectory/.project
Studio/projects/demo_usDirectory/_data
Studio/projects/demo_usDirectory/_private
Studio/projects/demo_usDirectory/demo_usDirectory.temp.wsdl
Studio/projects/demo_usDirectory/demo_usDirectory.temp.xsd
Studio/projects/lib_FileTransfer/Traces
Studio/projects/lib_FileTransfer/_data
Studio/projects/lib_FileTransfer/_private
Studio/projects/lib_GoogleMaps/*.temp.wsdl
Studio/projects/lib_GoogleMaps/*.temp.xsd
Studio/projects/lib_GoogleMaps/.project
Studio/projects/lib_GoogleMaps/_data
Studio/projects/lib_GoogleMaps/_private
Studio/projects/lib_OAuth/Traces
Studio/projects/lib_OAuth/_private
Studio/projects/lib_Polymer/_private
Studio/projects/lib_PushManager/AppleCertificateTool
Studio/projects/lib_PushManager/_private
Studio/projects/lib_Salesforce/_private
Studio/projects/lib_Sigfox/Traces
Studio/projects/lib_Sigfox/_data
Studio/projects/lib_Sigfox/_private
Studio/projects/lib_Twitter/Traces
Studio/projects/lib_Twitter/_private
Studio/projects/sampleAngularJS/DisplayObjects/platforms
Studio/projects/sampleAngularJS/Traces
Studio/projects/sampleAngularJS/_private
Studio/projects/sampleAngularJS/wsdl
Studio/projects/sampleDocumentationSiteClipper/Traces
Studio/projects/sampleDocumentationSiteClipper/_data
Studio/projects/sampleDocumentationSiteClipper/_private
Studio/projects/sampleMapperShop/_private
Studio/projects/sampleMapperShop/shop_db.lck
Studio/projects/sampleMapperShop/shop_db.log
Studio/projects/sampleMobileCtfGallery/DisplayObjects/platforms
Studio/projects/sampleMobileCtfGallery/_private
Studio/projects/sampleMobileMobTV/Traces
Studio/projects/sampleMobileMobTV/_private
Studio/projects/sampleMobileOffChat/DisplayObjects/platforms/Android/config.xml.old
Studio/projects/sampleMobileOffChat/DisplayObjects/platforms/iOS/config.xml.old
Studio/projects/sampleMobileOffChat/Traces
Studio/projects/sampleMobileOffChat/_private
Studio/projects/sampleMobileOffChat/wsdl
Studio/projects/sampleMobileRetailStore/DisplayObjects/platforms/Android/config.xml.old
Studio/projects/sampleMobileRetailStore/DisplayObjects/platforms/iOS/config.xml.old
Studio/projects/sampleMobileRetailStore/_private
Studio/projects/sampleMobileSearchRoom/DisplayObjects/platforms
Studio/projects/sampleMobileSearchRoom/Traces
Studio/projects/sampleMobileSearchRoom/_private
Studio/projects/sampleMobileUsDirectoryDemo/Traces
Studio/projects/sampleMobileUsDirectoryDemo/_private
Studio/projects/sampleMobileUsDirectoryDemo/sampleMobileUsDirectoryDemo.temp.wsdl
Studio/projects/sampleMobileUsDirectoryDemo/sampleMobileUsDirectoryDemo.temp.xsd
Studio/projects/sampleMobileVacation/*.temp.wsdl
Studio/projects/sampleMobileVacation/*.temp.xsd
Studio/projects/sampleMobileVacation/.settings
Studio/projects/sampleMobileVacation/Traces
Studio/projects/sampleMobileVacation/_data
Studio/projects/sampleMobileVacation/_private
Studio/projects/samplePolymer/Traces
Studio/projects/samplePolymer/_private
Studio/projects/samplePolymer/wsdl
Studio/projects/sample_HelloWorld/_private
Studio/projects/sample_HelloWorld/sample_HelloWorld.temp.wsdl
Studio/projects/sample_HelloWorld/sample_HelloWorld.temp.xsd
Studio/projects/sample_database_HSQLDB/*.temp.*
Studio/projects/sample_database_HSQLDB/Traces
Studio/projects/sample_database_HSQLDB/_data
Studio/projects/sample_database_HSQLDB/_private
Studio/projects/sample_database_XLS/*.temp.*
Studio/projects/sample_database_XLS/Traces
Studio/projects/sample_database_XLS/_data
Studio/projects/sample_database_XLS/_private
Studio/projects/sample_documentation_CLI/.settings
Studio/projects/sample_documentation_CLI/_data
Studio/projects/sample_documentation_CLI/_private
Studio/projects/sample_documentation_CLI/sample_documentation_CLI.temp.wsdl
Studio/projects/sample_documentation_CLI/sample_documentation_CLI.temp.xsd
Studio/projects/sample_documentation_CLP/.project
Studio/projects/sample_documentation_CLP/_data
Studio/projects/sample_documentation_CLP/_private
Studio/projects/sample_documentation_CLP/sample_documentation_CLP.temp.wsdl
Studio/projects/sample_documentation_CLP/sample_documentation_CLP.temp.xsd
Studio/projects/sample_documentation_CMC/*.temp.*
Studio/projects/sample_documentation_CMC/Traces
Studio/projects/sample_documentation_CMC/_data
Studio/projects/sample_documentation_CMC/_private
Studio/projects/sample_documentation_CMS/.project
Studio/projects/sample_documentation_CMS/Traces
Studio/projects/sample_documentation_CMS/_data
Studio/projects/sample_documentation_CMS/_private
Studio/projects/sample_documentation_CMS/sample_documentation_CMS.temp.wsdl
Studio/projects/sample_documentation_CMS/sample_documentation_CMS.temp.xsd
Studio/projects/sample_documentation_CWC/.project
Studio/projects/sample_documentation_CWC/Traces
Studio/projects/sample_documentation_CWC/_data
Studio/projects/sample_documentation_CWC/_private
Studio/projects/sample_documentation_CWC/sample_documentation_CWC.temp.wsdl
Studio/projects/sample_documentation_CWC/sample_documentation_CWC.temp.xsd
Studio/projects/sample_documentation_CWI/.project
Studio/projects/sample_documentation_CWI/Traces
Studio/projects/sample_documentation_CWI/_data
Studio/projects/sample_documentation_CWI/_private
Studio/projects/sample_documentation_CWI/sample_documentation_CWI.temp.wsdl
Studio/projects/sample_documentation_CWI/sample_documentation_CWI.temp.xsd
Studio/projects/sample_refManual_http/*.temp.*
Studio/projects/sample_refManual_http/Traces
Studio/projects/sample_refManual_http/_data
Studio/projects/sample_refManual_http/_private
Studio/projects/sample_refManual_siteClipper/*.temp.*
Studio/projects/sample_refManual_siteClipper/_data
Studio/projects/sample_refManual_siteClipper/_private
Studio/projects/sample_refManual_statements/*.temp.*
Studio/projects/sample_refManual_statements/_data
Studio/projects/sample_refManual_statements/_private
Studio/projects/sample_refManual_steps/*.temp.*
Studio/projects/sample_refManual_steps/_data
Studio/projects/sample_refManual_steps/_private
Studio/projects/sample_refManual_variables/*.temp.*
Studio/projects/sample_refManual_variables/Traces
Studio/projects/sample_refManual_variables/_data
Studio/projects/sample_refManual_variables/_private
Studio/projects/sample_refManual_webClipper/*.temp.*
Studio/projects/sample_refManual_webClipper/Traces
Studio/projects/sample_refManual_webClipper/_data
Studio/projects/sample_refManual_webClipper/_private
Studio/projects/sample_sequencer/*.temp.*
Studio/projects/sample_sequencer/Traces
Studio/projects/sample_sequencer/_private
Studio/projects/template_CICS/.project
Studio/projects/template_CICS/Traces
Studio/projects/template_CICS/_data
Studio/projects/template_CICS/_private
Studio/projects/template_CICS/template_CICS.temp.wsdl
Studio/projects/template_CICS/template_CICS.temp.xsd
Studio/projects/template_HTTP/.project
Studio/projects/template_HTTP/Traces
Studio/projects/template_HTTP/_data
Studio/projects/template_HTTP/_private
Studio/projects/template_HTTP/template_HTTP.temp.wsdl
Studio/projects/template_HTTP/template_HTTP.temp.xsd
Studio/projects/template_SAP/*.temp.*
Studio/projects/template_SAP/Traces
Studio/projects/template_SAP/_data
Studio/projects/template_SAP/_private
Studio/projects/template_SQL/*.temp.*
Studio/projects/template_SQL/Traces
Studio/projects/template_SQL/_data
Studio/projects/template_SQL/_private
Studio/projects/template_javelin/.project
Studio/projects/template_javelin/Traces
Studio/projects/template_javelin/_data
Studio/projects/template_javelin/_private
Studio/projects/template_javelin/images/Thumbs.db
Studio/projects/template_javelin/template_javelin.temp.wsdl
Studio/projects/template_javelin/template_javelin.temp.xsd
Studio/projects/template_javelinDKU/.project
Studio/projects/template_javelinDKU/Traces
Studio/projects/template_javelinDKU/_data
Studio/projects/template_javelinDKU/_private
Studio/projects/template_javelinDKU/images/Thumbs.db
Studio/projects/template_javelinDKU/template_javelinDKU.temp.wsdl
Studio/projects/template_javelinDKU/template_javelinDKU.temp.xsd
Studio/projects/template_javelinIntegration/.project
Studio/projects/template_javelinIntegration/Traces
Studio/projects/template_javelinIntegration/_data
Studio/projects/template_javelinIntegration/_private
Studio/projects/template_javelinIntegration/template_javelinIntegration.temp.wsdl
Studio/projects/template_javelinIntegration/template_javelinIntegration.temp.xsd
Studio/projects/template_mobileJQueryMobile/.project
Studio/projects/template_mobileJQueryMobile/Traces
Studio/projects/template_mobileJQueryMobile/_data
Studio/projects/template_mobileJQueryMobile/_private
Studio/projects/template_sequence/.project
Studio/projects/template_sequence/.settings
Studio/projects/template_sequence/Traces
Studio/projects/template_sequence/_data
Studio/projects/template_sequence/_private
Studio/projects/template_sequence/backup-wsdl
Studio/projects/template_sequence/template_sequence.temp.wsdl
Studio/projects/template_sequence/template_sequence.temp.xsd
Studio/projects/template_siteClipper/*.temp.wsdl
Studio/projects/template_siteClipper/*.temp.xsd
Studio/projects/template_siteClipper/.project
Studio/projects/template_siteClipper/Traces
Studio/projects/template_siteClipper/_data
Studio/projects/template_siteClipper/_private
Studio/projects/template_webIntegration/.project
Studio/projects/template_webIntegration/Traces
Studio/projects/template_webIntegration/_data
Studio/projects/template_webIntegration/_private
Studio/projects/template_webIntegration/template_webIntegration.temp.wsdl
Studio/projects/template_webIntegration/template_webIntegration.temp.xsd
Studio/src/com/convertigo
Studio/src/com/twinsoft/convertigo/beans/common/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/beans/connectors/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/beans/core/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/beans/sna/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/beans/statements/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/beans/steps/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/beans/vdx/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/eclipse/dialogs/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/eclipse/moz/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/eclipse/property_editors/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/engine/externalbrowser
Studio/src/com/twinsoft/convertigo/engine/parsers
Studio/tomcat/webapps/convertigo/WEB-INF/default_user_workspace/cache/*
Studio/tomcat/webapps/convertigo/WEB-INF/default_user_workspace/logs/engine.log*
Studio/tomcat/webapps/convertigo/WEB-INF/default_user_workspace/minime/Java/keys.txt
Studio/tomcat/webapps/convertigo/WEB-INF/lib/*.jar
Studio/tomcat/webapps/convertigo/WEB-INF/trial_deploy.ser
Studio/tomcat/webapps/convertigo/WEB-INF/xulrunner-work
Studio/tomcat/webapps/convertigo/cache_proxy
Studio/tomcat/webapps/convertigo/templates/project/*.car
Studio/tomcat/work/*
Xulrunner_linux.gtk.x86/xulrunner/components/compreg.dat
Xulrunner_linux.gtk.x86/xulrunner/components/xpti.dat
Xulrunner_macosx.cocoa.x86/xulrunner/components/compreg.dat
Xulrunner_macosx.cocoa.x86/xulrunner/components/xpti.dat
Xulrunner_win32.win32.x86/xulrunner/components/compreg.dat
Xulrunner_win32.win32.x86/xulrunner/components/xpti.dat
