Server/src/com/convertigo
Studio/beans.xml
Studio/bin/*
Studio/icons/Thumbs.db
Studio/icons/consoles/Thumbs.db
Studio/icons/studio/Thumbs.db
Studio/src/com/convertigo
Studio/src/com/twinsoft/convertigo/beans/common/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/beans/connectors/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/beans/core/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/beans/sna/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/beans/statements/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/beans/steps/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/beans/vdx/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/eclipse/dialogs/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/eclipse/moz/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/eclipse/property_editors/images/Thumbs.db
Studio/src/com/twinsoft/convertigo/engine/externalbrowser
Studio/src/com/twinsoft/convertigo/engine/parsers
Studio/tomcat/webapps/convertigo/WEB-INF/default_user_workspace/cache/*
Studio/tomcat/webapps/convertigo/WEB-INF/default_user_workspace/logs/engine.log*
Studio/tomcat/webapps/convertigo/WEB-INF/default_user_workspace/minime/Java/keys.txt
Studio/tomcat/webapps/convertigo/WEB-INF/trial_deploy.ser
Studio/tomcat/webapps/convertigo/WEB-INF/xulrunner-work
Studio/tomcat/webapps/convertigo/WEB-INF/xulrunner/components/xpti.dat
Studio/tomcat/webapps/convertigo/cache_proxy
Studio/tomcat/webapps/convertigo/templates/project/*.car
Studio/tomcat/work/*
