body {
	background: white;	
}

#holder_top {
	background: white;
}
#logo_c8o {
	width: 230px;
	height: 83px;	
}
#footer_holder {
	visibility: hidden;
}
#lng_menu, #menu3, #menu5 {
	display: none;
}
.blocks2, .popularlinks, .holder_right {
	display: none;
}
.options_border, .a_left, .yellow_buttons, .option_text {
	display: none;
}
