/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace m "controls.*"; 

global {	
	fontFamily:arial;
	fontSize: 11;
	fontWeight: normal;
	selectionColor: #A0A0A0;
	focusColor: #ffb346;
	rollOverColor: #bdbdbd;
}

/*
	default & base styles used is Convertiflex
*/
s|Application {
	backgroundColor: #595959;
}

s|CheckBox {
}

/*
	MUST BE SET TO THIS VALUE FOR 3D
*/
mx|Container {
	backgroundAlpha:0.0;
}

/*
DropDownList style
*/
s|DropDownList {
	skinClass: ClassReference("skins.C8oDropDownListSkin");
	
	chromeColor:#ffb346;
	
	color:#ffffff;
	alternatingItemColors: #ffffff, #bdbdbd;
	rollOverColor:#ffb346;
	overTextColor:#ff6600;
	overBackgroundColor:#bdbdbd;
	
	selectionColor:#ffb346;
	
	selectedTextColor:#333333;
	selectedBackgroundColor:#bdbdbd;
	borderColor:#bdbdbd;
	cornerRadius:2; 
}

s|BorderContainer {
	backgroundColor:#595959;
	borderColor: #595959;
	cornerRadius: 0;
	borderWeight: 0;
} 

mx|DateChooser {
	fontFamily: arial;
	fontSize: 11;
	color: #333333;	
	textAlign:center;	
	borderStyle:solid;
	borderVisible:true;
	borderColor:#dadada;
	cornerRadius:4;

	selectionColor:#bdbdbd;
	rollOverColor:#ffb346;
	dropShadowEnabled: false;
	
	textInputStyleName:textInput;		
	headerStyleName:dateHeaderStyle;
	weekDayStyleName:dateDayStyle;
	todayStyleName:dateTodayStyle;
}

/*
	style of header
*/
.dateHeaderStyle{
	fontWeight:bold;
}

/*
	calendar style
*/
.dateTodayStyle{
	color:#333333;
}

/*
	style of day names
*/
.dateDayStyle{
	color:#bdbdbd;
	fontWeight:bold;
}

s|TextInput {
	fontFamily: arial;
	textIndent:1;
	
	borderColor: #333333;
	focusColor:#ffb346;	
}

.textInput {
	skinClass: ClassReference("skins.C8oTextInputSkin");
	
	color: #ffffff;

	fillColor:#595959;	
	strokeColor:#bdbdbd;
	
	fillColorFocus:#333333;
	strokeColorFocus:#ffb346;
	
	colorInvalid:#ff0000;
	
	fontSize: 11;
	selectionColor: #bdbdbd;
	
	cornerRadius: 10;
	borderStyle: solid; 
}

mx|Image {
}

s|Button {
}

s|Label {
	color:#ffffff;
	lineBreak:explicit;
	textDecoration:none;
	baselineShift:0;
	verticalAlign:middle;
}

mx|AdvancedDataGrid {
	/**
		header attributes
	*/
	headerColors: #333333, #bdbdbd;
	rollOverColor:#f0f0f0;	
	
	/**
		grid attributes
	*/
	fontSize:10;
	fontWeight:normal;	
	
	borderStyle:solid;
	borderAlpha:1.0;
	borderColor:#333333;
	
	alternatingItemColors: #bdbdbd, #f0f0f0;
	
	contentBackgroundAlpha: 1.0;
	/*contentBackgroundColor: red;*/
	selectionColor:#ffb346;
	
	verticalGridLines: true;	
	verticalGridLineColor: #f0f0f0;	
	
	/**
		table cells text color
	*/
	color:#000000;
	iconColor:#ffffff;
}

.advancedDataGrid {
	/**
	headerSeparatorSkin:Embed(source='images/gridColonsSeparator.jpg');
	*/

	shadowVisible:false;
	shadowColor:#000000;
	shadowBlur:30.0;
	shadowAngle:45;
	shadowAlpha:0.25;
	shadowDistance:0;
	
	insetX:-10;
	insetY:0;
}

.dataGridHeaderStyleName {
	textRollOverColor:#009abb;
	horizontalAlign:left;
	verticalAlign:middle;
	color:#000000;
	fontSize:10;
	fontWeight:normal;  
}

.separator {
	hidden:false;
	color:#92c2ef;
}

/*
Container styles
*/
/*
menu container
*/
.styleMenuContainer {
	borderAlpha:0.0;	
	backgroundAlpha:0.0;
}

.styleApplication {
}

.loading {
	/**
		path containing :// or ./ are considered absolute
		otherwise root directory will be appended to form 
		an absolute url
	*/
	loadingAnimation:"themes/flex/images/loading.swf";
	cornerRadius:24;
	fontFamily:Arial;
	fontSize:12;
	fontWeight:bold;
	backgroundColor:#333333;
	backgroundAlpha:0.4;
	borderStyle:thin;
	borderColor:#595959;
	borderWidth:2;
	textColor:#ffffff;
	textAlign:center;
}

/*
title within title container
*/
/*
title container
*/
.titleContainer {
	cornerRadius:0;
	backgroundColor:#333333;
	borderColor:#333333;
	borderWeight:0;
	borderAlpha: 1.0;
}

.titleContainerText {
	fontSize:14;
	fontWeight:bold;	
	backgroundColor:#333333;
	textAlign:center;	
	color:#ffb346;
}

.mainContainer {
	backgroundImage: Embed(source="images/background.jpg");
}

/*
	buttonContainer & displayContainer styles
*/
.buttonContainer {
	buttonTextAlign:left;
	autoLayout:false;
	cornerRadius:0;
	borderColor:#333333;
	borderWeight:1;
	borderAlpha:1.0;	
	backgroundColor:#595959;
	backgroundAlpha:0.45;
}

.flexContainer {
}

.convertiflexContainer {
/*	
	borderAlpha:0.0;
	backgroundAlpha:0.0;
*/
/*
	backgroundColor:#00ff00;
*/
}
.displayContainer {
	backgroundAlpha:0.7;
	backgroundColor:#111111;
	cornerRadius:0;
	borderColor:#333333;
	borderWeight:1;
	color:#ffffff;
}

/*
shadows at the bottom
*/
.shadowContainer {
	corner-radius:0;
	backgroundAlpha:0.7;
	backgroundColor:#111111;
	borderAlpha:0.0;	
}

.Panel {
	
	corner-radius:5;
	
	borderColor:#111111;
	borderAlpha:1.0;
	borderWeight:0.5;
	backgroundColor:#333333;
	backgroundAlpha:1.0;
	
	shadowVisible:true;
	shadowColor:#000000;
	shadowBlur:12.0;
	shadowAngle:45;
	shadowAlpha:0.5;
	shadowDistance:10;
	
	insetX:0;
	insetY:5;
}

/*
	buttonContainer buttons styles
*/
.keywords
{
	skinClass:ClassReference("skins.C8oButtonSkin");
	
	textAlign:center;
	color: #ffffff;
	textRollOverColor:#ffffff;
	textDownColor:#ffffff;
	
	cornerRadius: 2;
	borderThickness: 2;
	
	borderColors: #333333, #111111;
	overBorderColors: #ffb346, #ff6600;
	downBorderColors: #ffb346, #ff6600;
	
	fillColors: #575656, #3e3e3e;
	overFillColors:#575656, #3e3e3e;
	downFillColors:#3e3e3e, #575656;
}

.grid {
	alternatingItemColors: #575656, #3e3e3e;
	color:#ffffff;
	borderAlpha: 1;
	borderColor: #333333;
	borderStyle: solid;
	borderVisible: true;
}

.header {	
	fontWeight: bold;
	color:#FFFFFF;
}

.styleSpinMenu {
	color:#414141;
	focusBarStartColor:#fefefe;
	focusBarEndColor:#f1f5f5;
	colors:#dadada, #ffffff, #ffffff, #dadada;
	wheelBorderColor:#ebecee;
	wheelBorderThickness:1;
	wheelBorderSideThickness:1;
}

.titre {
	color:#ffb346;
}


/* Foreground color styles for static text */
.span.colorwhite {
	color: #ffb346;
}

.span.colorblack {
	color: #888888;
}

.span.colorcyan {
	color: DeepSkyBlue;
}

.span.colormagenta {
	color: DeepPink;
}

.span.coloryellow {
	color: gold;
}

.span.colorred {
	color: red;
}

.span.colorgreen {
	color: #ffffff;
}

.span.colorblue {
	color: #ffb346;
}

/* Background color styles for static text */
.span.bgcolorwhite {
	
}

.span.bgcolorblack {
	
}

.span.bgcolorcyan {
	backgroundColor: #66CCFF;
}

.span.bgcolormagenta  {
	backgroundColor: #66CCFF;
}
.span.bgcoloryellow {
	backgroundColor: #FFFF99;
}

.span.bgcolorred {
	backgroundColor: #ff3d3d;
}

.span.bgcolorgreen {
	
}

.span.bgcolorblue {
	backgroundColor : #ffb346;
}
