<div	data-role="header"
		data-position="fixed"
		data-tap-toggle="false"
		class="row between-xs middle-xs wow fadeInDown"
		data-wow-delay="0.2s"
		data-wow-duration="0.5s">
	<div class="col-xs" style="max-width: 60px;">
		<div class="box">
			<a class="ui-btn" data-panel-toggle="left"><i class="zmdi zmdi-menu"></i></a>
		</div>
	</div>

	<div class="col-xs col-sm-2">
		<div class="box nd2-headline">API Store</div>
	</div>

	<div class="col-xs end-xs">
		<div class="box">
			<a	data-rel="back"
				class="ui-btn ui-btn-inline"><i class="zmdi zmdi-arrow-back"></i></a>

			<a	href="app.html"
				class="ui-btn ui-btn-inline"><i class="zmdi zmdi-home"></i></a>
		</div>
	</div>
</div>
