<div	data-role="panel"
		data-position="left"
		data-display="overlay"
		data-position-fixed="true">
	<div class="nd2-sidepanel-profile wow fadeInDown">
		<img class="profile-background" src="img/examples/card_bg_1.jpg"/>
		<div class="row middle-xs">
			<div class="col-xs-4 center-xs">
				<div class="box">
					<img class="profile-thumbnail" data-user-info="avatar"/>
				</div>
			</div>
			<div class="col-xs-8">
				<div class="box profile-text">
					<strong data-user-info="name"></strong>
					<span class="subline" data-user-info="title"></span>
				</div>
			</div>
		</div>
	</div>

	<ul data-role="listview">
		<li><a data-icon="false" href="app.html"><i class="zmdi zmdi-home"></i>Home</a></li>
		<li data-role="list-divider">Shortcuts</li>
		<li><a data-icon="false" data-ajax="false" href="/convertigo/projects/lib_APIStoreUserUI/DisplayObjects/mobile/app.html"><i class="zmdi zmdi-shopping-cart"></i>Public Store</a></li>
		<li><a data-icon="false" data-c8o-call="lib_APIStore.Admin_getAPIs"><i class="zmdi zmdi-swap"></i>APIs</a></li>
		<li><a data-icon="false" data-c8o-call="lib_APIStore.Admin_getConfigs"><i class="zmdi zmdi-settings"></i>Configurations</a></li>
		<li><a data-icon="false" data-c8o-call="lib_APIStore.Admin_getEndPoints"><i class="zmdi zmdi-globe-alt"></i>EndPoints</a></li>
		<li><a data-icon="false" data-c8o-call="lib_APIStore.Admin_getUsers"><i class="zmdi zmdi-accounts"></i>Users</a></li>
		<li><a data-icon="false" data-c8o-call="lib_APIStore.Admin_getDataForPutStoreSettings"><i class="zmdi zmdi-power"></i>Store Settings</a></li>
		<li><a data-icon="false" class="ui-disabled"><i class="zmdi zmdi-trending-up"></i>Store Statistics</a></li>
		<li><a data-icon="false" data-c8o-call="lib_APIStore.Admin_logout"><i class="zmdi zmdi-sign-in zmdi-hc-flip-horizontal"></i>Logout</a></li>
	</ul>
</div>
