<div	data-role="panel"
		data-position="left"
		data-display="overlay"
		data-position-fixed="true">
	<div class='nd2-sidepanel-profile wow fadeInDown'>
		<img class='profile-background' src="img/examples/card_bg_1.jpg" />
		<div class="row">
			<div class='col-xs-4 center-xs'>
				<div class='box'>
					<img class="profile-thumbnail" src="img/examples/card_thumb_1.jpg" />
				</div>
			</div>
			<div class='col-xs-8'>
				<div class='box profile-text'>
					<strong>Jane Doe</strong>
					<span class='subline'>Super Power User</span>
				</div>
			</div>
		</div>
	</div>

	<ul data-role="listview" data-inset="false">
		<li><a data-icon="false" href="app.html"><i class="zmdi zmdi-home zmdi-hc-fw"></i>Home</a></li>
		<li data-role="list-divider">Shortcuts</li>
		<li><a data-icon="false" href="getAPIs.html"><i class="zmdi zmdi-swap zmdi-hc-fw"></i>APIs</a></li>
		<li><a data-icon="false" href="getConfigs.html"><i class="zmdi zmdi-settings zmdi-hc-fw"></i>Configurations</a></li>
		<li><a data-icon="false" href="getEndPoints.html"><i class="zmdi zmdi-globe-alt zmdi-hc-fw"></i>EndPoints</a></li>
	</ul>
</div>
