<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../../../../swagger/ui/css/typography.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../swagger/ui/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../../../../../swagger/ui/css/screen.css"/>

	<style type="text/css">
	body {
		overflow-y: hidden;
	}
	</style>

	<script type="text/javascript" src="../../../../../swagger/ui/lib/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="../../../../../swagger/ui/lib/jquery.slideto.min.js"></script>
	<script type="text/javascript" src="../../../../../swagger/ui/lib/jquery.wiggle.min.js"></script>
	<script type="text/javascript" src="../../../../../swagger/ui/lib/jquery.ba-bbq.min.js"></script>
	<script type="text/javascript" src="../../../../../swagger/ui/lib/handlebars-2.0.0.js"></script>
	<script type="text/javascript" src="../../../../../swagger/ui/lib/underscore-min.js"></script>
	<script type="text/javascript" src="../../../../../swagger/ui/lib/backbone-min.js"></script>
	<script type="text/javascript" src="../../../../../swagger/ui/swagger-ui.js"></script>
	<script type="text/javascript" src="../../../../../swagger/ui/lib/highlight.7.3.pack.js"></script>
	<script type="text/javascript" src="../../../../../swagger/ui/lib/jsoneditor.min.js"></script>
	<script type="text/javascript" src="../../../../../swagger/ui/lib/marked.js"></script>
	<script type="text/javascript" src="../../../../../swagger/ui/lib/swagger-oauth.js"></script>

	<script type="text/javascript">
	function setHeightInParent() {
		var iframe = window.parent.document.getElementById("swagger-ui"); 

		var scrollTop = window.parent.document.body.scrollTop;

		// Once the height has been set to a px value:
		// document.body.scrollHeight == max(realScrollHeight, style.height)
		// So when the document's height gets smaller, we don't get the corret value.
		// Fix: set the height to auto before getting the scrollHeight
		iframe.style.height = "auto";
		iframe.style.height = document.body.scrollHeight + "px";

		// Scroll back to where the user was
		window.parent.document.body.scrollTop = scrollTop;
	}

	$(function() {
		var url = window.location.search.match(/url=([^&]+)/);

		if (!url)
			return;

		if (url.length > 1)
			url = decodeURIComponent(url[1]);

		new SwaggerUi({
			url: url,
			dom_id: "swagger-ui-container",
			supportedSubmitMethods: [ "head", "get", "post", "put", "delete" ],
			onComplete: function(swaggerApi, swaggerUi) {
				// Is this an iframe?
				if (window.parent.document !== document) {
					// Disable animations: they add too much delay to compute the height properly
					$.fx.off = true;

					// Initialize the height
					setHeightInParent();

					// Whenever we click a link (probably a show/hide script),
					// recompute and update the height
					$("a").on("click", function() {
						setTimeout(setHeightInParent, 50); 
						setTimeout(setHeightInParent, 100); 
					});

					// Give a bit more time to network requests
					$("input[type=submit]").on("click", function() {
						setTimeout(setHeightInParent, 50);
						setTimeout(setHeightInParent, 100);
						setTimeout(setHeightInParent, 1000);
					});
				}

				$("pre code").each(function(i, e) {
					hljs.highlightBlock(e)
				});
			},
			docExpansion: "none",
			jsonEditor: false,
			apisSorter: "alpha",
			defaultModelRendering: "schema",
			showRequestHeaders: false
		}).load();
	});
	</script>
</head>
<body class="swagger-section">
	<div id="message-bar" class="swagger-ui-wrap" data-sw-translate>&nbsp;</div>
	<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</body>
</html>
