/* CSS Document */
body {
	background:url("../images/bg_repeaty.jpg") repeat-y scroll 100% 100% #FFFFFF !important;
}
/* Base style of static text outside of tables*/
span.staticText {
	font-size:   12px; 
	font-family: "Lucida console", Verdana, Arial, Helvetica, Sans-Serif;
}

/* Base style of static text outside of tables*/
span.tableText {
	font-size:   10px; 
	font-family: "Lucida console", Verdana, Arial, Helvetica, Sans-Serif;
}

/* Base style of static text as radio buttons labels */
span.radioText {
	font-size: 11px;
	font-family: "Lucida console", Verdana, Arial, Helvetica, Sans-Serif;
}

span hr {
	color: #8f8f8f;
	/*background-color: #8f8f8f;*/
	height: 1px;
	border:0;
	border-top: 1px dashed #8f8f8f;
}


/* Foreground color styles for static text */
span.colorwhite {
	/*color: SteelBlue;*/
	/*color:#006699;  cyan blue */
	color:#888; /* grey */
}

span.colorblack {
	color: #000000;
}

span.colorcyan {
	color: DeepSkyBlue;
}

span.colormagenta {
	color: DeepPink;
}

span.coloryellow {
	color: gold;
}

span.colorred {
	color: red;
}

span.colorgreen {
	color: #03744f; /* convertigo dark green */
}

span.colorblue {/* intitule */
	/*color: #00a4c8; blue*/
	/*color: #999;  grey */
	color:#006699; /* cyan blue */
}

/* Background color styles for static text */
span.bgcolorwhite {
	
}

span.bgcolorblack {
	
}

span.bgcolorcyan {
	background-color: cyan;
}

span.bgcolormagenta  {
	
}
span.bgcoloryellow {
	
}

span.bgcolorred {
	
}

span.bgcolorgreen {
	
}

span.bgcolorblue {
	
}

/* Other static text decoration styles */
span.underline {
	text-decoration: underline;	
}

span.blink {
	
}

/* Used when a static text element gets the focus  */
span.focusedStatic {
	border:1px dashed #000;
}

/* Used when a static text element looses the focus  */
span.unfocusedStatic {
   border-style: none;
}

/*  Used for text in input fields */
.fieldText {
	font-size: 8pt;
	font-family: "Lucida Console", Arial, Helvetica, Sans-Serif;
}

/* Used on buttons, like keyword buttons when they are selectable*/
input.keywordButton {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
	color: #000000;
	background-color: #F1FAF9;
}

/* Used on disabled buttons, like keyword buttons when they are not selectable*/
input.disabledKeywordButton {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
	color: #000000;
	background-color: #F1FAF9;
}

.footerText	{
	font-size: 9px;
	line-height: 12px;
	color: #666666;
	font-family: "Lucida Console", Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	font-weight: normal;
	}

.footerTextBold	{
	font-size: 10px;
	line-height: 12px;
	color: #666666;
	font-family: "Lucida Console", Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	font-weight: bold;
	}

a.menuItem {
	font-weight: normal;
	font-family: "Lucida Console", Arial, Helvetica, Sans-Serif;
	border: none;
	color:#00a4c8;
	line-height: 17px;
	font-size: 12px;
}
a.menuItem:active {
	color: #FCA956;
}
a.menuItem:hover {
	color: #006699;
}
a.menuItem:visited {
	color: #002B82;
}

/* contextual menu */
.menuitems:hover {
	background-color: #ff9900 !important;
	cursor:pointer;
}

/* Style for tables title cells */
.datatitle {
	font-size: 9px; 
	font-weight: bold;
	color: black;
	background-color: #CAD8FD;
	background: transparent url(../images/bg_titletable.jpg) repeat-x scroll 0 0;	
	border-bottom: 2px solid #888;
	border-right: 0px solid #000;
	cursor: pointer;
	vertical-align: middle;
	text-align:center;
}
span.datatitle {
	background: none;
	border:0;
}

/* Foreground style for active (enabled) panels */
span.panel{
	background-color: #f3f2f1;
    border: 1px solid #ccc;
	margin-left: -5px;
    margin-top: -6px;
    padding-bottom: 6px;
}

/* Background style for active (enabled) panels */
span.panelOmbre{
	background-color: #CFCFCF;
	border: 1px solid #EFEFEF;
	margin-left: -7px;
    margin-top: -8px;
    padding-bottom: 6px;
}


/* Foreground style for active (disabled) panels */
span.disabledPanel{
	background-color:#FEFEFE;
	border: 1px solid #4c4c4c;
}

/* Background style for inactive (disabled) panels */
span.disabledPanelOmbre{
	background-color: #C1C1C1;
	border-right: #D7D7D7 2px solid; 
	border-bottom: #D7D7D7 2px solid;
	border-top: #D7D7D7 2px solid;
}

/* Panel top title style  for active (enabled) panels */
span.panelTopTitle {
	font-family: "Lucida console", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 9px;
	color: #FF0000;
	background-color: #FFFFFF;
}

/* Panel bottom title style  for active (enabled) panels */
span.panelBottomTitle {
	font-family: "Lucida console", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 9px;
	color: #FF0000;
	background-color: #FFFFFF;
}

/* Panel top title style  for inactive (disabled) panels */
span.disabledPanelTopTitle {
	font-family: "Lucida console", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 9px;
	color: #4C4C4C;
	background-color: #FFFFFF;
}

/* Panel bottom title style  for inactive (disabled) panels */
span.disabledPanelBottomTitle {
	font-family: "Lucida console", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 9px;
	color: #4C4C4C;
	background-color: #FFFFFF;
}

/* background color of an line of a table */
.datarowodd {
	background-color: #f5fcfd;
}
.dataroweven {
	background-color: #e2f9fe;
}
/* background color of an line of a table over */
/*.datarowoddover {
	color:#000;
	background-color: #d2edec;
	cursor:pointer;
}
.datarowevenover {
	color:#000;
	background-color: #fafffe;
	cursor:pointer;
}*/
/* background color of an line of a table over */
.datarowodd:hover {
	background-color: #006699;
	cursor:pointer;
}
.dataroweven:hover {
	background-color: #006699;
	cursor:pointer;
	
}
/* color table */
.dataroweven .colorgreen, .datarowodd .colorgreen {
	color:#006699;
}
.dataroweven:hover .tableText, .datarowodd:hover .tableText {
	color:#fff;
}

.dataitem {
	border-left: 1px solid gray;
}

.actDiv {
	position: absolute;
	border: 2px solid #ff9900;
	background-color: #fff;
	visibility: hidden;
	font-family: "Lucida console", Verdana, Arial, Helvetica, Sans-Serif;
}

/* Base style for table cells */
td.cell {
	border-right: 1px solid #333333;
	margin: 10px;
	text-align: center;
}

div.waitDiv {
	position: absolute;
	top: 5px;
	left: 10px;
	visibility:hidden;
}

.tabsheet {
	border: 1px solid black;
	background-color : #fff;
}

/* Style for spaces between tabs */
td.tabSpacer {
	border-bottom: solid 1px #000;
	background-color: #fff;
}

/* Style for selected tab */
td.selectedTab  {
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	white-space: nowrap;
	font-size: 10pt;
	font-family: "Lucida console", Verdana, Arial, Helvetica, Sans-Serif;;
	background-color: #DFDFDF;
	color: #000;
}

/* Style for unselected tabs */
td.unselectedTab {
	border: 1px solid #000;
	white-space: nowrap;
	cursor: pointer;
	background-color: #9C9C9C;
	font-size: 10pt;
	font-family: "Lucida console", Verdana, Arial, Helvetica, Sans-Serif;;
	color: #000;
}

/* Style for the whole opened tab zone */
td.openedTab {
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	background-color: #DFDFDF;
	filter:alpha(opacity=60); /* Tabbox transparency for IE */
    opacity: 0.6; /* Tabbox transparency for CSS3 (Firefox) */
}

/* Style for the (optional) commands panel */
div.commandsButtons {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 80px;
	height: 200px;
}

/* Active/enabled keyword buttons/commands new styles */

table.buttontab {
	 cursor: pointer;
	 width: 80px;
}

td.buttonl {
	background: transparent url(../images/button-gfx.png) no-repeat scroll 0 -147px;
	width: 3px;
	height: 21px;
}
td.buttonr {
	background: transparent url(../images/button-gfx.png) no-repeat scroll 0 -168px;
	width: 3px;
	height: 21px;
}
td.buttonc {
	background: transparent url(../images/button-gfx.png) repeat-x scroll 0 -189px;
	font-size: 10px;
	text-align : center;
}

input.insidebutton {
	background : none;
	border : 0;
	cursor : pointer;
	font-family : Verdana, Arial, Helvetica, Sans-Serif;;
	font-size : 11px;
	font-size-adjust : none;
	font-stretch : normal;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	margin : 0;
	outline-style : none;
	outline-width : 0;
	color : #fff;
	overflow : visible;
	-x-system-font : none;
}
input.insidebutton:hover {
	color : #006699;
}
/* Inactive/disabled keyword buttons/commands new styles */

table.disabledbuttontab {
	 width: 80px;
}

td.disabledbuttonl {
	background: transparent url(../images/disabledbutton-gfx.png) no-repeat scroll 0 0;
	width: 3px;
	height: 21px;
}

td.disabledbuttonr {
	background: transparent url(../images/disabledbutton-gfx.png) no-repeat scroll 0 -21px;
	width: 3px;
	height: 21px;
}

td.disabledbuttonc {
	background: transparent url(../images/disabledbutton-gfx.png) repeat-x scroll 0 -42px;
	font-size: 10px;
	text-align : center;
}

input.disabledinsidebutton {
	background : none;
	border : 0;
	font-family : Verdana, Arial, Helvetica, Sans-Serif;;
	font-size : 11px;
	font-size-adjust : none;
	font-stretch : normal;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	margin : 0;
	outline-style : none;
	outline-width : 0;
	color : #888;
	/*overflow : visible;*/
	-x-system-font : none;
}

/* extended menus container div*/
div.extmenu {
	background: #D0DEF0 url(../images/toolbar_bg.png) repeat-x scroll left top;
	border-color: #A9BFD3;
	border-style: solid;
	border-width: 0 0 1px;
	display: block;
	padding: 2px;
}

em.extmenu {
	padding-right: 8px;
	background: transparent url(../images/btn-arrow-02.png) no-repeat scroll left 5px;
	display: block;
	white-space: nowrap;
}

input.extmenu {
	background-position: 0 2px;
	background-repeat: no-repeat;
	padding: 3px 10px 2px 5px;
	-x-system-font: none;
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	/*border: solid 1px red;*/
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	background-image: url(../images/menu-show.gif) !important;
	width: 100px;
	text-align: left;
}

/* New ext style for input fields */
input.extField {
	-x-system-font: none;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 15px;
	vertical-align: middle;
	height: 14px;
	padding-bottom: 0;
	padding-top: 2px;
	padding: 1px 3px;
	margin: 0;
	margin: -3px 0 0 -8px;
	background: #FFFFFF url(../images/text-bg.png) repeat-x scroll 0 0;
	border: 1px solid #B5B8C8;
}
input.fieldText {
	/*padding-top: 2px;*/
	vertical-align: middle;
	background: #fff url(../images/text-bg.png) repeat-x scroll 0 0;
	border: 1px solid #B5B8C8;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;;
	font-size: 10px;
	text-align:center;
	margin: 0;
}
span.fieldfocused {
	border: 1px dashed #ff9900; 
	margin-left: -8px !important;
}
span.fieldfocused input.extField {
	border: 1px dashed #ff9900; 
	margin-left:0;
}
table span.fieldfocused {
	padding: -1px 0px 0px 0px;
}