@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace m "controls.*"; 

global {	
	fontFamily:arial;
	fontSize: 11;
	fontWeight: normal;
	selectionColor: #A0A0A0;
	focusColor: #f0b26c;
	rollOverColor: #B5B5B5;
}

/*
	default & base styles used is Convertiflex
*/
s|Application {
	backgroundColor: #ffffff;
}

s|CheckBox {
}

/*
	MUST BE SET TO THIS VALUE FOR 3D
*/
mx|Container {
	backgroundAlpha:0.0;
}

/*
DropDownList style
*/
s|DropDownList {
	skinClass: ClassReference("skins.C8oDropDownListSkin");
	
	chromeColor:#d5d5d5;
	
	color:#000000;
	alternatingItemColors: #ffffff, #eaf5ff;
	rollOverColor:#f0b26c;
	overTextColor:#00ff00;
	overBackgroundColor:#f0b26c;
	
	selectionColor:#f0b26c;
	
	selectedTextColor:#000000;
	selectedBackgroundColor:#ffff00;
	borderColor:#e0e0e0;
	cornerRadius:8;
}

s|BorderContainer {
	backgroundColor:#e0e0e0;
	borderColor: #e0e0e0;
	cornerRadius: 8;
	borderWeight: 1;
} 

mx|DateChooser {
	fontFamily: arial;
	fontSize: 11;
	color: #404040;	
	textAlign:center;	
	borderStyle:solid;
	borderVisible:true;
	borderColor:#dadada;
	cornerRadius:4;

	selectionColor:#a2d2ff;
	rollOverColor:#f0b26c;
	dropShadowEnabled: false;
	
	textInputStyleName:textInput;		
	headerStyleName:dateHeaderStyle;
	weekDayStyleName:dateDayStyle;
	todayStyleName:dateTodayStyle;
}

/*
	style of header
*/
.dateHeaderStyle{
	fontWeight:bold;
}

/*
	calendar style
*/
.dateTodayStyle{
	color:#000000;
}

/*
	style of day names
*/
.dateDayStyle{
	color:#a2d2ff;
	fontWeight:bold;
}

s|TextInput {
	fontFamily: arial;
	textIndent:1;
	
	borderColor: #dadada;
	focusColor:#f0b26c;	
}

.textInput {
	skinClass: ClassReference("skins.C8oTextInputSkin");
	
	color: #404040;

	fillColor:#ddeeff;	
	strokeColor:#92c2ef;
	
	fillColorFocus:#ffffff;
	strokeColorFocus:#f0b26c;
	
	colorInvalid:#ff0000;
	
	fontSize: 11;
	selectionColor: #a2d2ff;
	
	cornerRadius: 10;
	borderStyle: solid; 
}

mx|Image {
}

s|Button {
}

s|Label {
	color:#404040;
	lineBreak:explicit;
	textDecoration:none;
	baselineShift:0;
	verticalAlign:middle;
}

mx|AdvancedDataGrid {
	/**
		header attributes
	*/
	headerColors: #ffffff, #c0c0c0;
	rollOverColor:#f0f0f0;	
	
	/**
		grid attributes
	*/
	fontSize:10;
	fontWeight:normal;	
	
	borderStyle:solid;
	borderAlpha:1.0;
	borderColor:#ececec;
	
	alternatingItemColors: #ffffff, #eaf5ff;
	
	contentBackgroundAlpha: 1.0;
	/*contentBackgroundColor: red;*/
	selectionColor:#ffc772;
	
	verticalGridLines: true;	
	verticalGridLineColor: #f0f0f0;	
	
	/**
		table cells text color
	*/
	color:#000000;
	iconColor:#ffffff;
}

.advancedDataGrid {
	/**
	headerSeparatorSkin:Embed(source='images/gridColonsSeparator.jpg');
	*/

	shadowVisible:false;
	shadowColor:#000000;
	shadowBlur:30.0;
	shadowAngle:45;
	shadowAlpha:0.25;
	shadowDistance:0;
	
	insetX:-10;
	insetY:0;
}

.dataGridHeaderStyleName {
	textRollOverColor:#009abb;
	horizontalAlign:left;
	verticalAlign:middle;
	color:#000000;
	fontSize:10;
	fontWeight:normal;  
}

.separator {
	hidden:false;
	color:#92c2ef;
}

/*
Container styles
*/
/*
menu container
*/
.styleMenuContainer {
	borderAlpha:0.0;	
	backgroundAlpha:0.0;
}

.styleApplication {
}

.loading {
	/**
	path containing :// or ./ are considered absolute
	otherwise root directory will be appended to form 
	an absolute url
	*/
	loadingAnimation:"themes/c8o/images/loading.swf";
	cornerRadius:24;
	fontFamily:Arial;
	fontSize:12;
	fontWeight:bold;
	backgroundColor:#ddeeff;
	backgroundAlpha:0.25;
	borderColor:#92c2ef;
	borderWidth:2;
	textColor:#000000;
	textAlign:center;
}

/*
title within title container
*/
/*
title container
*/
.titleContainer {
	cornerRadius:8;
	backgroundColor:#ffffff;
	borderColor:#f7f7f7;
	borderWeight:1;
	borderAlpha: 1.0;	
	verticalAlign:middle;
	horizontalAlign:center;
	variableColumnWidth:true;
	gap:10; 	
}

.titleContainerText {
	fontSize:16;
	fontWeight:bold;	
	backgroundColor:#ffffff;
	textAlign:center;	
	color:#0E89C2;
}

.mainContainer {
	backgroundImage: Embed(source="images/background.jpg");
}

/*
	buttonContainer & displayContainer styles
*/
.buttonContainer {
	buttonTextAlign:left;
	autoLayout:false;
	cornerRadius:7;
	borderColor:#f7f7f7;
	borderWeight:1;
	borderAlpha:1.0;	
	backgroundColor:#ffffff;
	backgroundAlpha:0.45;
}

.flexContainer {
}

.convertiflexContainer {
/*	
	borderAlpha:0.0;
	backgroundAlpha:0.0;
*/
/*
	backgroundColor:#00ff00;
*/
}
.displayContainer {
	backgroundAlpha:0.0;
	corner-radius:7;
	borderColor:#f7f7f7;
	backgroundColor:#ffffff;
	borderWeight:1;
}

/*
shadows at the bottom
*/
.shadowContainer {
	corner-radius:8;
	backgroundAlpha:0.1;
	backgroundColor:#bfbfbf;
	borderAlpha:0.0;	
}

.Panel {
	borderColor:#92c2ef;
	borderAlpha:1.0;
	borderWeight:1;
	backgroundColor:#ddeeff;
	backgroundAlpha:0.6;
	
	shadowVisible:false;
	shadowColor:#828282;
	shadowBlur:15.0;
	shadowAngle:0;
	shadowAlpha:0.3;
	shadowDistance:0;
	
	insetX:0;
	insetY:5;
}

/*
	buttonContainer buttons styles
*/
.keywords
{
	skinClass:ClassReference("skins.C8oButtonSkin");
	
	textAlign:center;
	color: #404040;
	textRollOverColor:#ffffff;
	textDownColor:#ffffff;
	
	cornerRadius: 4;
	borderThickness: 1;
	
	borderColors: #E0E0E0, #808080;
	overBorderColors: #808080, #e0e0e0;
	downBorderColors: #808080, #e0e0e0;
	
	fillColors: #ffffff, #d5d5d5;
	overFillColors:#ffffff, #787878;
	downFillColors:#848484, #d5d5d5;
}

.grid {
	alternatingItemColors: #f7f7f7, #ffffff;
	color:#404040;
	borderAlpha: 1;
	borderColor: #FFFFFF;
	borderStyle: solid;
	borderVisible: true;
}

.header {	
	fontWeight: bold;
	color:#FFFFFF;
}

.styleSpinMenu {
	color:#414141;
	focusBarStartColor:#fefefe;
	focusBarEndColor:#f1f5f5;
	colors:#dadada, #ffffff, #ffffff, #dadada;
	wheelBorderColor:#ebecee;
	wheelBorderThickness:1;
	wheelBorderSideThickness:1;
}

.titre {
	color:#4682B4;
}


/* Foreground color styles for static text */
.span.colorwhite {
	color: SteelBlue;
}

.span.colorblack {
	color: #000000;
}

.span.colorcyan {
	color: DeepSkyBlue;
}

.span.colormagenta {
	color: DeepPink;
}

.span.coloryellow {
	color: gold;
}

.span.colorred {
	color: red;
}

.span.colorgreen {
	color: black;
}

.span.colorblue {
	color: #0E89C2;
}

/* Background color styles for static text */
.span.bgcolorwhite {
	
}

.span.bgcolorblack {
	
}

.span.bgcolorcyan {
	backgroundColor: #66CCFF;
}

.span.bgcolormagenta  {
	backgroundColor: #66CCFF;
}
.span.bgcoloryellow {
	backgroundColor: #FFFF99;
}

.span.bgcolorred {
	backgroundColor: #ff3d3d;
}

.span.bgcolorgreen {
	
}

.span.bgcolorblue {
	backgroundColor: #66CCFF;
}
