img {
	border-style: none;
}

.StandardCI a:link, a:visited, a:active, a:focus { color: rgb(101, 159, 219); text-decoration: none; }
.WebSiteCI a:link, a:visited, a:active, a:focus { color: rgb(0, 102, 153); text-decoration: none; }
.StandardRow { width: 100%; overflow-x: hidden; height: auto; margin: 0pt; padding: 0pt; min-height: 50px; }
.StandardColumn { float: left; min-height: 50px; margin: 0px; padding: 0pt; }
.StandardWidgetFrame { margin: 0px; width: auto; }
.StandardWidgetTitleHidden { font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; height: 0px; font-size: 0px; line-height: 0px; padding-top: 0px; }
.StandardWidgetTitleHandle { font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; font-size: 12px; width: auto; font-weight: normal; height: 24px; padding-left: 0px; color: rgb(34, 34, 34); cursor: move; }
.StandardBordered { padding-top: 0px; width: auto; }
.StandardUnBordered { padding: 0px; width: auto; }
.StandardWidgetBody { position: relative; height: 100%; width: 100%; overflow: auto; margin: 0pt; font-family: Arial; font-size: 12px; color: rgb(162, 162, 162); }

.treeview a:link, a:visited, a:active, a:focus { text-decoration: none; }

a:link, a:visited, a:active, a:focus { color: rgb(0, 164, 200); text-decoration: none; }
html, body { width: 100%; overflow: auto; margin: 0pt; }
#Header { text-align: left; position: relative; left: 0px; top: 0px; height: 60px; width: 100%; margin: 0pt; padding: 0pt; }
#BodyLayout { text-align: left; overflow: hidden; position: relative; height: auto; width: 98%; }
#BodyContent { text-align: left; overflow: hidden; position: relative; left: 10px; height: auto; width: 98%; }
#menu { margin: 0pt; padding: 0pt; list-style-type: none; font-family: arial; font-size: 16px; color: rgb(102, 102, 102); float: right; }
.HeaderMenuliLeft { margin: 5px 3px 0px; float: left; }
.HeaderWelcomeliLeft { margin: 5px 5px 0px 3px; float: left; font-weight: bold; color: rgb(0, 164, 200); }
.HeaderMenuLink:link { text-decoration: none; color: rgb(102, 102, 102); }
.HeaderMenuLink:active { text-decoration: none; color: rgb(102, 102, 102); }
.HeaderMenuLink:focus { text-decoration: none; color: rgb(0, 164, 200); }
.HeaderMenuLink:visited { text-decoration: none; color: rgb(102, 102, 102); }
.HeaderMenuLink:hover { text-decoration: underline; color: rgb(0, 164, 200); }
