/** insert your custom css code here */
#map ,#map .ui-content,#map-canvas { width: 100%; height: 100%; padding: 0; }

/* = Common/background 
------------------------------------- */
*, html {
	white-space: normal !important;/* texte non sectionné si trop long */
	-webkit-font-smoothing: antialiased;
}
html {
	background-color: #f5f4f3;
}
body {
	height: 100%;
	background-color: #f3f2f1;
}
.ui-page {
    background: transparent;
}
.ui-body-z {
    background: transparent;
}
.ui-mobile, .ui-mobile .ui-page {
	background-color: #f3f2f1;
}
.ui-bar-c {
	border: 1px solid #ccc /*{d-bup-border}*/;
	background: #ffffff /*{d-bup-background-color}*/;
	font-weight: bold;
	color: #eee /*{d-bup-color}*/;
	text-shadow: 0 /*{d-bup-shadow-x}*/ 1px /*{d-bup-shadow-y}*/ 1px /*{d-bup-shadow-radius}*/ #02397a /*{d-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #02397a /*{d-bup-background-start}*/), to( #01234b /*{d-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #02397a /*{d-bup-background-start}*/, #01234b /*{d-bup-background-end}*/);
	background-image: -moz-linear-gradient( #02397a /*{d-bup-background-start}*/, #01234b /*{d-bup-background-end}*/);
	background-image: -ms-linear-gradient( #02397a /*{d-bup-background-start}*/, #01234b /*{d-bup-background-end}*/);
	background-image: -o-linear-gradient( #02397a /*{d-bup-background-start}*/, #01234b /*{d-bup-background-end}*/);
	background-image: linear-gradient( #02397a /*{d-bup-background-start}*/, #01234b /*{d-bup-background-end}*/);
}
[data-role="content"]{
	font-size: 90%;
}
.titleSample {
	margin: 0 -15px; 
	margin-bottom: 16px; 
	padding: 5px 15px; 
	border-left: 0;
	border-right: 0;
	font-size: 1em;
	/*color: #006699;*/
}
.contentSample {
	background: #eee; 
	color: #222; 
	text-shadow: 0 1px 0 #fff; 
	font-weight: normal;
	margin: -15px -15px 0 -15px; 
	padding: 15px;
	border: 0;
}
.sample_source h4, .sample_test h4 {
	border-bottom: 1px solid #ccc;
}
.sample_test_exec {
	font-style: italic;
	font-size: 0.9em;
	background-color: #fff;
	padding: 5px 10px;
	margin-bottom: 10px;
	color: #006699;
}