/**
 * All pages
**/
/* Make sure the page takes up all the available space. */
div[data-role=page],
div[data-role=content] {
	box-sizing: border-box;
	height: 100%;
}

@media only screen and (min-width: 48em) { /* 48em is flexgrid's md */
	/* Limit the width and center content */
	div[data-role=content]:not(.full-width) > *,
	div[data-role=content]:not(.full-width) > span > * /* getAPI.html */ {
		max-width: 1000px;
		margin-left: auto;
    	margin-right: auto;
	}
}

/* Floating action button */
div[data-role=content] .ui-btn-fab {
	height: 60px;
	width: 60px;
	z-index: 1001; /* Between .ui-footer-fixed and .ui-panel-dismiss */
}

.ui-select {
	max-width: 400px;
}

.swagger-ui {
	max-width: 960px;
}

.swagger-ui iframe {
	/* Height is handled by a script in the iframe */
	width: 100%;
}

.ui-tooltip {
	max-width: 300px;
	padding: 10px 20px;
	background-color: white;
	border-radius: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	text-align: center;
	z-index: 3;
}

.image-display {
	height: 200px;
	width: 200px;
}

.image-display img {
	display: inline;
	vertical-align: middle;
}

.image-display img,
.nd2-card.image-card .image-col > :first-child img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.nd2-card.image-card {
	padding: 1em;
}

.nd2-card.image-card .image-col {
	max-width: 150px;
}

.nd2-card.image-card .image-col > :first-child {
	height: 150px;
}

.nd2-card.image-card .nd2-headline {
	font-weight: bold;
}

.nd2-card.image-card .nd2-subhead {
	color: #8e8e8e;
}

/**
 * fragments/footer.html
**/
.ui-footer > p {
	text-align: center;
}

/**
 * fragments/header.html
**/
.ui-header {
	margin-left: 0;
}

.ui-header div.col-xs:first-child {
	padding: .25em;
}

.ui-header div.col-xs:first-child {
	max-width: 60px;
}

/* Copied from .ui-header > .ui-btn in nativedroid2.css */
.ui-header .ui-btn {
	background-color: transparent !important;
	color: #ffffff !important;

	font-size: 20px;
	line-height: 1.8em;
	padding: 0.5em;
	display: inline-block;
	width: 1.6em;
	height: 1.6em;

	border-radius: 50% !important;
	overflow: hidden !important;
}

/**
 * fragments/panel.left.html
**/
.ui-panel-position-left ul li > a > i {
	min-width: 16px; /* Make sure text is aligned */
	margin-right: 5px; /* Add space between icons and text */
}

/**
 * app.html
**/
.home-naviguation-card {
	max-width: 250px;
}

.home-naviguation-card .card-media > i {
	font-size: 8em;
}

.home-naviguation-card .card-action {
	text-transform: none;
}

/**
 * getAPI.html
**/
.comment-card {
	max-width: none;
	position: relative;
}

.comment-card > .top-right {
    position: absolute;
    top: 24px;
	right: 1em;
}

.comment-card > .top-right > .ui-btn {
    top: -.5em;
}

.comment-card .card-title {
	padding-bottom: 0;
}

textarea[name=value] {
	margin: 0;
}

@media only screen and (max-width: 47.99em) {
	textarea[name=value] {
		margin-bottom: 1em;
	}
}

/**
 * getSubscription.html
**/
.nd2-card.image-card pre {
	background: #f1f1f1;
}

/**
 * putUser.html
**/
label.image-display {
	border: 1px solid #cccccc;
	margin: 0 auto 1em;
	line-height: 200px;
	text-align: center;
	overflow: hidden;
}

label.image-display > i {
	color: rgba(0, 0, 0, 0.87); /* From nd2's .ui-page-theme-a */
	display: block;
	font-size: 150px;
	line-height: inherit;
}

label.image-display > input {
	opacity: 0;
	position: absolute;
	top: 0;
}

/**
 * Star Rating
**/

.rating.editable {
	cursor: pointer;
}

.rating:not(.editable),
.rating:not(.editable) > label {
	cursor: default;
}

.rating > .star {
	display: inline;
	color: rgba(0, 0, 0, 0.8);
	font-size: 1em;
}

.rating > .star:before {
  font-family: Material-Design-Iconic-Font;
  content: "\f27c";
}

.rating > .star.star-fill:before {
	content: "\f27d";
}

.rating > .star.star-half:before {
	content: "\f27b";
}

.rating > .star > input {
	display: none;
}

/**
 * JQuery Mobile Overrides
**/
.ui-listview > li p {
	white-space: normal; /* Prevents API descriptions from being truncated */
}

/* Make shadows a bit more opaque */
.ui-shadow,
.ui-collapsible {
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.ui-field-contain {
	border-bottom: 0;
}

/* JQM keeps a log of the tooltips shown, and it is not hidden by default... */
div[role=log].ui-helper-hidden-accessible {
    display: none;
}

/**
 * ND2 Fixes
**/
/* Don't add extra space at the bottom of a collapsible */
.ui-collapsible-content > .ui-listview {
	margin-bottom: 0;
}

/* Selected item in select doesn't have hover effect */
.ui-selectmenu-list > li > .ui-btn-active:hover {
	background-color: #ededed;
 }

/* The line under text inputs is way too long without this */
.ui-input-text,
.ui-input-search {
	position: relative;
}

/* Show bottom border even for non autogrow textareas */
.ui-page-theme-a textarea.ui-input-text { /* from nd2: .ui-page-theme-a textarea.ui-input-text */
    border-bottom: 2px solid #cccccc;
}

.ui-page-theme-a textarea.ui-input-text.ui-focus { /* from nd2: .ui-page-theme-a textarea.ui-input-text.ui-focus */
    border-bottom: 2px solid #03A9F4;
}

.nd2Tabs-content-tab.nd2Tab-active {
	display: initial;
}

/* During tab change animation, more than one can be active.
 * Hide the bottom one when it is being animated out, after
 * the incoming tab has finished its animation (from-left).
 * Otherwise, you can see the old tab below the new tab. */
.nd2Tab-active:not(.from-left) + .nd2Tab-active.to-right {
	display: none;
}

/* Don't make the text in selects upper case */
.ui-select > a {
	text-transform: initial;
}

/* Links in tables don't always make the cursor a pointer */
a {
	cursor: pointer;
}

/* Don't round corners in list views */
.ui-listview > li > a.ui-btn {
	border-radius: 0 !important;
}

/* Make room for checkmarks in selects allowing multiple choices */
.ui-selectmenu-list > li > a {
	padding-left: 2em;
	padding-right: 1em;
}
