// Let's start with the basics


$base-color: #FFFF93;

$base-gradient: 'matte';
$active-color: #B2DF1E;
 
$tabs-dark: #000;
$tabs-light: #555;
 
$tabs-bottom-radius: .4em;
$tabs-bottom-gradient: 'bevel';
$tabs-bar-gradient: 'matte';
$tabs-bottom-active-gradient: 'recessed';
 
$toolbar-gradient: 'glossy';

@import 'sencha-touch/default/all';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-carousel;
@include sencha-indexbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

.x-form .x-panel-body {
	background-color: #FFC;
}
