/**
 * fragments/footer.html
**/
.ui-footer > p {
	text-align: center;
}

/**
 * fragments/header.html
**/
@media only screen and (max-width: 47.99em) {
	.box > a[href="app.html"] {
		display: none;
	}
}

.ui-header {
	margin-left: 0;
}

.ui-header.row > div {
	padding: .25em;
}

.ui-header.row > div:first-child {
	max-width: 60px;
}

/* Copied from .ui-header > .ui-btn in nativedroid2.css */
.ui-header .ui-btn {
	background-color: transparent !important;
	color: #ffffff !important;

	font-size: 20px;
	line-height: 1.8em;
	padding: 0.5em;
	display: inline-block;
	width: 1.6em;
	height: 1.6em;

	border-radius: 50% !important;
	overflow: hidden !important;
}

/**
 * fragments/panel.left.html
**/
.ui-panel-position-left ul li > a > i {
	margin-right: 5px;
}

/**
 * app.html
**/
.home-naviguation-card {
	max-width: 250px;
}

.home-naviguation-card .card-media > i {
	font-size: 8em;
}

.home-naviguation-card .card-action {
	text-transform: none;
}

/**
 * All pages
**/
div[data-role=content] .ui-btn-fab { /* Be precise enough to override other rules */
	height: 60px;
	width: 60px;
	z-index: 1500;
}

iframe#swagger-ui {
	/* Height is handled by a script in the iframe */
	width: 100%;
}

/**
 * JQuery Mobile Overrides
**/
.ui-listview > li p {
	white-space: normal;
}
