/* = Common
------------------------------------------------ */
*, html {
	white-space: normal !important;/* texte non sectionn� si trop long */
	-webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'old_english_text_mtregular';
    src: url('oldengl-webfont.eot');
    src: url('oldengl-webfont.eot?#iefix') format('embedded-opentype'),
         url('oldengl-webfont.woff') format('woff'),
         url('oldengl-webfont.ttf') format('truetype'),
         url('oldengl-webfont.svg#old_english_text_mtregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.hide {
	display: none;
	visibility: hidden;
}
.show {
	display: block;
	visibility: visible;
	white-space: nowrap;
}
/* = HTML element */
h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #000;
}
h2 {
	font-size: 2em;
	letter-spacing: -0.005em;
	line-height: 1.05;
	margin: 0;
	padding: 5px 0 8px;
	color: #000;
}
p {
	color: #333;
}
/* = Header */
.ui-bar-f {
	border-bottom: 2px solid #000;
}
.ui-header .ui-title, .ui-footer .ui-title {
	margin: .3em 10% .4em;
}
.ui-header .ui-title {
	font-family: 'old_english_text_mtregular';
	font-size: 1.5em;
}
.ui-header .ui-btn-left, 
.ui-header .ui-btn-right, 
.ui-footer .ui-btn-left, 
.ui-footer .ui-btn-right, 
.ui-header-fixed.ui-fixed-hidden .ui-btn-left, 
.ui-header-fixed.ui-fixed-hidden .ui-btn-right {
	top: 7px;
}
/* = Button */
.ui-btn.ui-btn-corner-all {
	-webkit-border-radius: 0.3em /*{global-radii-buttons}*/;
	border-radius: 0.3em /*{global-radii-buttons}*/
}
/* = Listview */
.ui-listview li.ui-li {
	background: #e6eff8;
	color: #004276;
	border-color: #fff;
}
/* = Background: to make bg color in all screen
------------------------------------------------ */
/*html {
	background-color:#ccc;
}
body {
	height:100%;
	background-color:#ccc;
}
.ui-page {
    background: transparent;
}
.ui-body-a, .ui-body-b, .ui-body-c, .ui-body-d, .ui-body-e, .ui-body-f {
    background: transparent;
}*/

/* = Screen
------------------------------------------------ */
#formOptionStore {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.mostPopularModule {
	font-size: 62.5%;
	font-family: arial, helvetica, sans-serif;
	margin-bottom: 0px;
	border-bottom: 1px solid #ccc;
}
.sectionHeader {
	font-size: 1.4em;
	line-height: 1.2857em;
	margin-top:0;
	margin-bottom: 8px;
	font-weight: bold;
	color: #000;
}
.subHeader {
	font-size: 1.1em;
	line-height: 1.2727em;
	font-weight: normal;
	margin-top: -8px;
	margin-bottom: 6px;
}
.mostPopularModule .subHeader {
	color: #909090;
	white-space: nowrap;
	margin-top: -7px;
	margin-bottom: 7px;
}
table#flux tr td {
	background: #fff;
	color: #004276;
	border-color: #fff;
	border-bottom: 1px solid #ccc;
	font-size: 68%;
}
