/** insert your custom css code here */
.x-toolbar-dark {
	background:#8B795E;
}
.x-toolbar-light {
	background:#CDB38B;
}
.x-toolbar-light .x-button-back {
	background:#8B795E;
}
.x-toolbar-light .x-button-back:before {
	background:#8B795E;
}
.x-toolbar-light .x-button-back:after {
	background:#8B795E;
}

.x-form .x-panel-body {
	background:#CDB38B;
}

.x-list {
	background-color: #8B795E;	
}
.x-list .x-list-item {
   min-height: 50px;
   border-top:2px solid #8B795E;
   background-color: #ffffff;
}
.x-list .x-list-item:last-child {
	border-bottom:2px solid #8B795E;
}
.x-list .x-list-item.x-item-pressed {
	border-top-color:#8B795E;
	background:#F5DEB3 none
}
.x-list .x-list-item.x-item-selected {
	border-top-color:#8B795E;
	background:#F5DEB3 none;
}

.menu-item-comment{
	font-size: small;
	white-space: nowrap; 
}
.feed-item-title{
	font-weight: bold;
	color: #8B0000;
}

.feed-item-date{
	color: gray;
}

.feed-item-desc{
	color: black;
}
