html,body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f3f2f1;
	padding: 0px;
	margin: 0px;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #757575;
	margin: 0 auto;
	width: 900px;
}

h1 {
	font-size: 24px;
	color: #00a4c8;
	text-align: right;
	font-weight: normal;
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 26px;
	color: #00A4C8;
	font-weight: normal;
}

h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #00A4C8;
	font-weight: normal;
}

a,a:visited {
	color: #666666;
	text-decoration: none;
}

a:hover {
	color: #00a4c8;
}

.page-title {
	background-color: #fff;
	margin-bottom: 10px;
	padding: 50px 20px 0px;
	border: 1px solid #cccccc;
	border-top: 0px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.action-menu {
	float: left;
	width: 22%;
}

.action-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.action-menu ul li {
	padding: 0;
	margin: 2px 0;
}

.action-menu .ui-state-default,.action-menu .ui-widget-content .ui-state-default,.action-menu .ui-widget-header .ui-state-default
	{
	border: 1px solid #ccc;
	background: #fff url(../img/bg_menu.jpg) 50% 50% repeat-x;
	font-weight: normal;
	color: #666666;
	width: 100%;
	text-align: left;
}

.action-menu a:hover {
	color: #00a4c8;
	background: none;
	background: #fff url(../img/menu_fleche.png) no-repeat 98% 50%;
}

.form {
	float: right;
	width: 72%;
	background-color: #fff;
	border: 1px solid #ccc;
	margin-top: 2px;
	padding: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#dialog-error-div {
	clear: both;
	padding-top: 10px;
	visibility: hidden;
	display: none;
}

#wait {
	position: fixed;
	left: 10px;
	top: 10px;
	display: none;
	z-index: 9999;
}

.hide-on-load {
	display: none;
}

.dialog-application {
	font-weight: bold;
	font-style: italic;
}

.connected-user {
	font-weight: bold;
	font-style: italic;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(255, 255, 255, .8) 
                url('../img/wait.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
