body {
    margin: 0px; 
    background-color: white;
}

.clear {
	clear:both;
}

#map ,#map .ui-content,#map-canvas { width: 100%; height: 100%; padding: 0; }

#headbar {
	position:relative;
}

.logo {
	position:absolute;
	right: 5px;
	top:2px;
}
