/* = Common
--------------------------------------------- */
.ui-page {
	background: transparent;
}
.ui-overlay-b {
	background-color: #ccc;
}

/* = Program Screen
--------------------------------------------- */
.ui-grid-a .ui-block-a {
	width: 36%;
}
.ui-grid-a .ui-block-b {
	width: 64%;
}
#prog_hour, #prog_name {
	font-weight: bold;
}
#prog_resume {
	font-size: 80%;
}
